In [1]:
import pandas as pd

In [3]:
df1= pd.read_csv('../../data/PerfTreatment_subset.csv')

In [4]:
df1.head()

,Unnamed: 0,EPAssetsId,EPAPTId,ObservationNumber,ActivityDate,ActivityType,IntervalTop,IntervalBase,PerfShots,WellHeader.Match
0,401,2606177,4546714,2.0,2017-08-29 00:00:00.000,Perforation,2786.0,2789.0,20.0,Yes
1,5130,2595413,4541001,3.0,2016-10-09 00:00:00.000,Perforation,2360.5,2364.5,20.0,Yes
2,5131,2591877,4544291,3.0,2016-02-13 00:00:00.000,Perforation,2374.0,2378.0,20.0,Yes
3,5132,2600921,4544364,3.0,2017-08-11 00:00:00.000,Perforation,1861.5,1863.5,20.0,Yes
4,5133,2598046,4545252,3.0,2017-01-28 00:00:00.000,Perforation,2484.0,2485.5,20.0,Yes

In [7]:
df1.groupby(['EPAssetsId','ActivityDate']).count()

                                    Unnamed: 0  EPAPTId  ObservationNumber  \
EPAssetsId ActivityDate
2225574    2015-02-11 00:00:00.000          20       20                 20
2575232    2015-02-11 00:00:00.000          17       17                 17
2576573    2015-09-21 00:00:00.000          23       23                 23
2577895    2015-03-03 00:00:00.000          20       20                 20
2578937    2015-04-02 00:00:00.000          24       24                 24
...                                        ...      ...                ...
2625908    2020-01-14 00:00:00.000          14       14                 14
           2020-01-15 00:00:00.000          22       22                 22
           2020-01-16 00:00:00.000          48       48                 48
           2020-01-17 00:00:00.000          41       41                 41
           2020-01-18 00:00:00.000           7        7                  7

                                    ActivityType  IntervalTop  IntervalBase  \
EPAssetsId ActivityDate
2225574    2015-02-11 00:00:00.000            20           20            20
2575232    2015-02-11 00:00:00.000            17           17            17
2576573    2015-09-21 00:00:00.000            23           23            23
2577895    2015-03-03 00:00:00.000            20           20            20
2578937    2015-04-02 00:00:00.000            24           24            24
...                                          ...          ...           ...
2625908    2020-01-14 00:00:00.000            14           14            14
           2020-01-15 00:00:00.000            22           22            22
           2020-01-16 00:00:00.000            48           48            48
           2020-01-17 00:00:00.000            41           41            41
           2020-01-18 00:00:00.000             7            7             7

                                    PerfShots  WellHeader.Match
EPAssetsId ActivityDate
2225574    2015-02-11 00:00:00.000         20                20
2575232    2015-02-11 00:00:00.000         17                17
2576573    2015-09-21 00:00:00.000         23                23
2577895    2015-03-03 00:00:00.000         20                20
2578937    2015-04-02 00:00:00.000         24                24
...                                       ...               ...
2625908    2020-01-14 00:00:00.000         14                14
           2020-01-15 00:00:00.000         22                22
           2020-01-16 00:00:00.000         48                48
           2020-01-17 00:00:00.000         41                41
           2020-01-18 00:00:00.000          7                 7

[2767 rows x 8 columns]